{% if security.registerable or security.recoverable or security.confirmable %}
    <h2>Menu</h2>
    <ul>
        <li><a href="{{ url_for('index') }}">{{ _('에디터로 돌아가기') }}</a></li>
        <li><a href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('로그인') }}</a></li>
        {% if security.registerable %}
            <li><a href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('회원가입') }}</a><br/></li>
        {% endif %}
        {% if security.recoverable %}
            <li><a href="{{ url_for_security('forgot_password') }}">{{ _('비밀번호 찾기') }}</a><br/></li>
        {% endif %}
        {% if security.confirmable %}
            <li><a href="{{ url_for_security('send_confirmation') }}">{{ _('이메일 재인증하기') }}</a></li>
        {% endif %}
    </ul>
{% endif %}
