{% extends 'base.html' %}
{% block body %}
    <!-- GitHub Fork Ribbon -->
    <a href="https://github.com/maxtortime/EasyEditor">
        <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"
                                          data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png">
    </a>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Easy Editor</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if current_user.is_authenticated %}
                            <li><a id="save" href="#">{{ _('저장') }}</a></li>
                            <li><a id="load-btn" href="#">{{ _('불러오기') }}</a></li>
                            <li><a id="delete" href="#">{{ _('삭제') }}</a></li>
                        {% endif %}
                    </ul>
                    <form class="navbar-form navbar-left" role="option">
                        <div class="form-group">
                            <input id="filename" type="text" class="form-control" placeholder="{{ _('파일 이름을 입력하세요') }}">
                            <input type="number" id="size" name="fontSize" class="form-control"
                                   placeholder="{{ _('글꼴 크기') }}">
                            <select id="lang" name="lang" form="lang_form" class="form-control">
                                <option value="c_cpp">C</option>
                                <option value="c_cpp">C++</option>
                                <option value="csharp">C#</option>
                                <option value="css">CSS</option>
                                <option value="java">Java</option>
                                <option value="kotlin">Kotlin</option>
                                <option value="go">Go</option>
                                <option value="javascript">JavaScript</option>
                                <option value="json">JSON</option>
                                <option value="html">HTML</option>
                                <option value="makefile">MakeFile</option>
                                <option value="markdown">MarkDown</option>
                                <option value="mysql">MySQL</option>
                                <option value="php">PHP</option>
                                <option value="python">Python</option>
                                <option value="mysql">MySQL</option>
                                <option value="plain_text">Plain Text</option>
                            </select>
                            <select id="theme" name="theme" form="lang_form" class="form-control">
                                <option value="ambiance">ambiance</option>
                                <option value="chaos">chaos</option>
                                <option value="chrome">chrome</option>
                                <option value="clouds">clouds</option>
                                <option value="clouds_midnight">clouds_midnight</option>
                                <option value="cobalt">cobalt</option>
                                <option value="crimson_editor">crimson_editor</option>
                                <option value="dawn">dawn</option>
                                <option value="dreamweaver">dreamweaver</option>
                                <option value="eclipse">eclipse</option>
                                <option value="github">github</option>
                                <option value="idle_fingers">idle_fingers</option>
                                <option value="iplastic">iplastic</option>
                                <option value="katzenmilch">katzenmilch</option>
                                <option value="kr_theme">kr_theme</option>
                                <option value="kuroir">kuroir</option>
                                <option value="merbivore">merbivore</option>
                                <option value="merbivore_soft">merbivore_soft</option>
                                <option value="mono_industrial">mono_industrial</option>
                                <option value="monokai">monokai</option>
                                <option value="pastel_on_dark">pastel_on_dark</option>
                                <option value="solarized_dark">solarized_dark</option>
                                <option value="solarized_light">solarized_light</option>
                                <option value="sqlserver">sqlserver</option>
                                <option value="terminal">terminal</option>
                                <option value="textmate">textmate</option>
                                <option value="tomorrow">tomorrow</option>
                                <option value="tomorrow_night">tomorrow_night</option>
                                <option value="tomorrow_night_blue">tomorrow_night_blue</option>
                                <option value="tomorrow_night_bright">tomorrow_night_bright</option>
                                <option value="tomorrow_night_eighties">tomorrow_night_eighties</option>
                                <option value="twilight">twilight</option>
                                <option value="vibrant_link">vibrant_link</option>
                                <option value="xcode">xcode</option>
                            </select>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li><a id="list" href="{{ url_for('file_list') }}">{{ _('목록') }}</a></li>
                            <li><a href="{{ url_for('security.logout') }}">{{ _('로그아웃') }}</a></li>
                        {% else %}
                            <li><a href="{{ url_for('security.login') }}">{{ _('로그인') }}</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div id="editor"></div>
        <div id="container">
            <ul>
                {% for name in files %}
                    <li><a class="load" href="#">{{ name }}</a></li>
                {% endfor %}
            </ul>
            {% if current_user.is_authenticated %}
                <button id="compile">{{ _('컴파일') }}</button>
                <p>
                    {{ result }}
                </p>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='components/ace-builds/src-min/ace.js') }}"
            type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/save_and_delete.js') }}"
            type="text/javascript" charset="utf-8"></script>
{% endblock %}
